paddlepaddle
paddleocr
opencv-python
Pillow
pdf2image
pytesseract
spacy
python-dateutil
phonenumbers
langchain
langchain-groq
groq
chromadb
sentence-transformers
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
python-multipart
python-dotenv
pydantic
pydantic-settings
streamlit
requests
pandas
python-jose
passlib
